# Ignore generated binaries (with no extension) by default
*
!*.*
!*/

.direnv/
.envrc
generated-docs/

# Test cassettes (generated during test runs)
test/cassettes/
test/mock_cassettes/
test/crash/cassettes/
test/crash/cassettes_readonly/
